@import "../../shared/variables";

.header {
  position: relative;
  height: $header-height;
  padding: 20px 0;

  .header__right,
  .header__center,
  .header__left {
    vertical-align: middle;
  }

  .header__right {
    display: inline-block;
    width: 50px;
    margin-right: $header-input-margin;
    text-align: right;
  }

  .header__center {
    display: inline-block;
    width: 100%;
    &--compact {
      width: calc(100% - 120px);
    }
    &--one-side {
      width: calc(100% - 60px);
    }
  }

  .header__left {
    display: inline-block;
    width: 50px;
    margin-left: $header-input-margin;
    text-align: left;
  }
}
