@import "../../shared/variables";

.header {
  position: relative;
  height: $header-height;
  padding: 20px 0;

  .header__button {
    position: absolute;
    top: 25px;
    right: $header-input-margin;
    text-align: right;
  }
}
