@import "../../shared/variables";

.inline-grid__item {
  display: inline-block;
  width: 100%;
}

@media only screen and (min-width: $query-min-tablet) {
  .inline-grid__item {
      width: calc(100vw / #{$grid-columns-tablet});
  }
}
@media only screen and (min-width: $query-min-desktop) {
  .inline-grid__item {
    width: calc(100vw / #{$grid-columns-desktop});
  }
}