@import "../../shared/variables";

.search {
  border: none;
  height: $header-input-height;
  margin: 0 $header-input-margin;
  padding: 0 20px;
  width: $header-input-width;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  color: #333;
  transition: background 0.3s;

  input {
    vertical-align: middle;
    display: inline-block;
    border: none;
    background: transparent;
    width: calc(100% - 30px);
    height: $header-input-height;
    padding: 0 0 0 10px;
    &:focus {
      background: rgba(255, 255, 255, 0.6);
    }
  }
}

.search__icon {
    vertical-align: middle;
}
